.homepage {
    font-size:25px;
}

h1 {
    font-size:70px;
    color:#fde68a;

}

body {
    font-size:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    background-color:#334155;
    color:white;

}

#content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    max-width:65%;
    gap:20px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:32px;
	border:5px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

button {
	position:relative;
	top:1px;
}

        
.homeContentDiv {

    display:flex;
    align-items:center;
    justify-content:center;
}

.homeContentDiv > img {
    max-width:50%;
    max-height:50%;
}